{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "User profile" %}
{% endblock %}

{% block content %}
{% if is_player %}
<h1>{% trans "Hello"%} {{ profile }}!</h1>
{% else %}
<h1>{% trans "Profile for: " %} {{ profile }}</h1>
{% endif %}
<ul>
    <li>{% trans "Rank: " %} {{ profile.rank.rank_decription }}</li>
    {% if is_player %}
    <li>{% trans "Health: " %} {{ profile.health }}</li>
    <li>{% trans "Games done: " %} {{ profile.games_done }}</li>
    {% endif %}
    {% if profile.image %}
    <li><img src="{{ profile.image.url }}" width="200" alt="player image" /></li>
    {% else %}
    <li>{% trans "No image uploaded yet!" %}</li>
    {% endif %}
    
    <li>{% trans "Description:" %}</li>
    {% if profile.description %}
    <li>{{ profile.description }}</li>
    {% else %}
    <li>{% trans "No description provided yet!" %}</li>
    {% endif %}

</ul>
{% if is_player %}
<a href="{% url 'update_player' %}">{% trans "Update Profile" %}</a>
{% endif %}
{% endblock %}