{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Eat" %}
{% endblock %}


{% block content %}
<h1>{% trans "Eat" %}</h1>
<p>{% trans "Here you can eat some greens to get in better shape. Or if you really don't like this game fill up on some junkfood and end yourself."%}</p>
{% if has_items is True %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans "Feed" %} &raquo;"/>
</form>
{% else %}
<p>{% trans "You have no items to use! Go play some games." %}</p>
{% endif %}
{% endblock %}