{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Games" %}
{% endblock %}


{% block content %}
<h1>{% trans "Start a game" %}</h1>
<p>Here you can win items that you can use to feed someone or eat yourself. Items will have a positive or negative effect on health. The odds are different for each game (basically a quick lottery), where the worst game has the best items and vice versa. Your win chances will get based on rank and games done.</p>
<p>You can only start a game every 4 minutes, so no need to keep clicking. </p>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Game 1 (best odds)" %}</th>
            <th>{% trans "Game 2 (decent odds)" %}</th>
            <th>{% trans "Game 3 (worst odds)" %}</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="{% url 'do_game' 1 %}" class="btn btn-success btn-lg" role="button">Game 1</a>
        </td>
        <td>
            <a href="{% url 'do_game' 2 %}" class="btn btn-warning btn-lg" role="button">Game 2</a>
        </td>
        <td>
            <a href="{% url 'do_game' 3 %}" class="btn btn-danger btn-lg" role="button">Game 3</a>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}