{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Inbox" %}
{% endblock %}


{% block content %}
<h1>{% trans "Inbox" %}</h1>
{% if message_list %}
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Sender" %}</th>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "Received" %}</th>
        </tr>
    </thead>
    <tbody>
{% for message in message_list %}
    <tr>
        <td>
            {{ message.sender }}
        </td>
        <td>
            <a href="{% url 'read_message' message.id %}">{{ message.subject }}</a>
        </td>
        <td>
            {{ message.sent_at }}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endblock %}