{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "View message" %}
{% endblock %}

{% block content %}
<h1>{% trans "Read & Reply" %}</h1>
<h4>Message:</h4>
<table class="table table-sm table-borderless" style="table-layout: fixed;">
    <tbody>
        <tr>
            <th class="row" style="width: 15%;">{% trans "Subject:" %}</th>
            <td style="width: 85%;">{{ one_message.subject }}</td>
        </tr>
        <tr>
            <th class="row" style="width: 15%">{% trans "From:" %}</th>
            <td>{{ one_message.sender }}</td>
        </tr>
        <tr>
            <th class="row" style="width: 15%;">{% trans "To:" %}</th>
            <td style="width: 85%;">{{ one_message.recipient }}</td>
        </tr>
        <tr>
            <th class="row" style="width: 15%;">{% trans "Sent at:" %}</th>
            <td style="width: 85%;">{{ one_message.sent_at|date:_("DATETIME_FORMAT")}}</td>
        </tr>
        <tr>
            <th class="row">{% trans "Message:" %}</th>
        </tr>
        <tr>
            <td >{{ one_message.body|linebreaksbr }}</td>
        </tr>
        <tr>
            <th class="row" style="width: 15%;"></th>
            <td style="width: 85%;"></td>
        </tr>
    </tbody>
</table>

{% if parent_message %}
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        {% trans "View original message:" %}
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
        {% trans "Original message:" %}
        <table class="table table-sm table-borderless" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <th class="row" style="width: 15%;">{% trans "Subject:" %}</th>
                    <td style="width: 85%;">{{ parent_message.subject }}</td>
                </tr>
                <tr>
                    <th class="row" style="width: 15%">{% trans "From:" %}</th>
                    <td>{{ parent_message.sender }}</td>
                </tr>
                <tr>
                    <th class="row" style="width: 15%;">{% trans "To:" %}</th>
                    <td style="width: 85%;">{{ parent_message.recipient }}</td>
                </tr>
                <tr>
                    <th class="row" style="width: 15%;">{% trans "Sent at:" %}</th>
                    <td style="width: 85%;">{{ parent_message.sent_at|date:_("DATETIME_FORMAT")}}</td>
                </tr>
                <tr>
                    <th class="row">{% trans "Message:" %}</th>
                </tr>
                <tr>
                    <td >{{ parent_message.body|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th class="row" style="width: 15%;"></th>
                    <td style="width: 85%;"></td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'read_message' parent_message.id %}">{% trans "Go to message" %}</a>
    </div>
  </div>
{% endif %}
<a href="{% url 'delete_message' one_message.id %}">{% trans "Delete message" %}</a>


{% if is_recipient %}
<h4>Send your reply:</h4>
<form action="{% url 'reply_message' one_message.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn btn-primary" value="{% trans "Send" %} &raquo;"/>
</form>
{% else %}
<p>{% trans "You sent this message, reply has been hidden." %}</p>
{% endif %}

{% endblock %}